name: environment_sensors
description: A Flutter plugin for reading ambient temperature,relative humidity, ambient light, and barometric pressure from a device.
version: 0.2.2
homepage: https://github.com/nhandrew/environment_sensors

environment:
  sdk: ">=2.12.0 <4.0.0"
  flutter: ">=1.20.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter

flutter:
  plugin:
    platforms:
      android:
        package: com.julow.environment_sensors
        pluginClass: EnvironmentSensorsPlugin
      ios:
        pluginClass: EnvironmentSensorsPlugin
